@tailwind base;
@tailwind components;
@tailwind utilities;

/* ============================
   TAILWIND CUSTOM COMPONENTS
   ============================ */

@layer base {
  
  /* Typography */
  h1, h2 {
    @apply font-titre text-titre;
  }
  h1 {
    @apply text-4xl md:text-5xl font-bold leading-tight;
  }

  h2 {
    @apply text-3xl md:text-4xl font-semibold leading-snug;
  }

  h3 {
    @apply text-2xl font-medium leading-snug;
  }

  p {
    @apply font-texte text-lg md:text-xl text-texte leading-relaxed;
  }

  a {
    @apply text-titre hover:text-titre transition-colors duration-300 underline;
  }
}

@layer components {
  /* Buttons */
  .btn-primary {
    @apply bg-titre text-white font-semibold py-2 px-4 rounded-lg shadow-md 
    hover:bg-titre focus:outline-none focus:ring-2 focus:ring-yellow-400;
  }

  .btn-secondary {
    @apply bg-gray-200 text-gray-800 font-medium py-2 px-4 rounded-lg shadow-sm 
    hover:bg-gray-300 focus:outline-none focus:ring-2 focus:ring-gray-400;
  }

  /* Cards */
  .card {
    @apply bg-white rounded-lg shadow-lg p-6 transition-transform transform 
    hover:scale-105 hover:shadow-[0_4px_10px_rgba(222,187,77,0.6)];
  }

  .card-title {
    @apply text-2xl font-semibold text-titre mb-4;
  }

  .card-content {
    @apply text-texte text-base leading-relaxed;
  }

  /* Sections */
  .section {
    @apply w-full py-16 px-6 md:px-12 lg:px-20 bg-titre text-white;
  }

  .section-dark {
    @apply bg-black text-white py-16 px-6 md:px-12 lg:px-20;
  }

  /* Input Fields */
  .input-field {
    @apply block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-300
    rounded-lg focus:border-yellow-600 focus:ring focus:ring-yellow-400;
  }

  .form-label {
    @apply text-sm font-medium text-gray-600 mb-2 block;
  }
}

@layer utilities {
  /* Spacing */
  .space-y-default {
    @apply space-y-4 md:space-y-6 lg:space-y-8;
  }

  /* Full screen utility */
  .full-screen {
    @apply w-full min-h-screen;
  }
}



.active {
    color: #ff6600; 
}
